body {
    margin: 0 auto;
}
ul {
    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}
img {
    border: solid 0;
}
header, section, footer {
    position: relative;
    padding: 5px 1%;
    margin: 0.5%;
    float: left;
    min-width: 280px;
    box-shadow: 2px 3px 3px #CCC;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
header:hover, section:hover, footer:hover {
    background-color: #70c0b1;
    box-shadow: 2px 3px 3px #666;
}
header {
    top: 0;
    left: 0;
    float: left;
    background-color: #dbfbd6;
    width: 28.5%;
    /*border-bottom: solid 1px #babdbd;*/
}
header .github-link {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    float: right;
}

header .github-link:hover {
    -webkit-transform: rotate(360deg) scale(1.1);
    -moz-transform:    rotate(360deg) scale(1.1);
    -ms-transform:     rotate(360deg) scale(1.1);
    -o-transform:      rotate(360deg) scale(1.1);
    transform:         rotate(360deg) scale(1.1);
}
section {
    width: 32%;
    background-color: #f0fbdb;
}
footer {
    width: 28.5%;
    background-color: #f3fbb5;
}
.first-position {
    margin-top: -50px;
    margin-left: -300px;
}

.sns  {
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
}
.sns li  {
    display: inline-block;
    position: relative;
    margin: 0 0 0 5px;
    padding: 0;
    width: 32px;
    height: 32px;
}
.sns a  {
    position: relative;
    width: 32px;
    height: 32px;
    text-decoration: none;
}
.sns .icon {
    display: inline-block;
    margin: 0;
    width: 32px;
    height: 32px;
    background: url(images/tilt-social-share-icons.png);
    background-repeat: no-repeat;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sns .icon:hover {
    -webkit-transform: rotate(20deg);
    -moz-transform:    rotate(20deg);
    -ms-transform:     rotate(20deg);
    -o-transform:      rotate(20deg);
    transform:         rotate(20deg);

}
.sns .tooltip {
    position: absolute;
    bottom: -25px;
    left: 0;
    padding: 2px 5px 2px 5px;
    white-space: nowrap;
    display: none;
    text-decoration: none;
    z-index: 100;
    color: #464646;
    background-color: #eeeeee;
    border: 1px solid #bbbbbb;
}
.sns li:hover .tooltip {
    display: block;
}

.sns li .facebook {
    background-position: -96px 0;
}
.sns li .google-plus {
    background-position: -160px 0;
}
.sns li .twitter {
    background-position: -544px 0;
}

@media all and (max-width:650px) {
    header, section, footer {
        position: relative;
        margin: 5px auto;
        padding: 5px 2%;
        width: 96%;
    }
}