body {
    margin: 0 auto;
}
ul {
    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}
header, section, footer {
    position: relative;
    padding: 5px 1%;
    margin: 0.5%;
    float: left;
    min-width: 280px;
    box-shadow: 2px 3px 3px #CCC;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
header {
    top: 0;
    left: 0;
    float: left;
    background-color: #dbfbd6;
    width: 28.5%;
    /*border-bottom: solid 1px #babdbd;*/
}
header .github-link {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    float: right;
}
section {
    width: 33%;
    background-color: #f0fbdb;
}
footer {
    width: 28.5%;
    background-color: #f3fbb5;
}
.first-position {
    top: -50px;
    left: -300px;
    margin-top: -50px;
    margin-left: -300px;
}

@media all and (max-width:650px) {
    header, section, footer {
        position: relative;
        margin: 5px auto;
        padding: 5px 2%;
        width: 96%;
    }
}