<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Play JavaScript Template</title>
    <meta name="description" content="JavaScript Template">
    <meta name="author" content="javarouka">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">
    <link rel="stylesheet" href="lib/css/github.css">
    <link rel="stylesheet" href="plugin/spotlight/spotlight.css">
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
        WebFont.load({
            custom: {
                families: ['Nanum Gothic'],
                urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css']
            }
        });
    </script>

    <style>
        .reveal pre {
            font-family: 'Nanum Gothic', serif !important;
        }
        .reveal code {
            font-family: 'Nanum Gothic', serif !important;
        }
    </style>
</head>
<body>
<div class="reveal">
    <div class="slides">

        <section>
            <h1>Play JavaScript Template</h1>
            <h3>+ Handlebars Basic</h3>
            <p>
                <small>Created by
                    <a href="http://www.facebook.com/hanghui.i" target="new">이항희</a> /
                    <a href="http://blog.javarouka.me" target="new">javarouka.me</a>
                </small>
            </p>
        </section>

        <section>
            <h1>목차</h1>
            <ul>
                <!--<li class="fragment roll-in">Global Scope</li>-->
                <li class="fragment roll-in">예전에는</li>
                <li class="fragment roll-in">JavaScript로 HTML을 그릴 때</li>
                <li class="fragment roll-in">Template</li>
                <li class="fragment roll-in">Handlebars</li>
            </ul>
        </section>

        <section>
            <h2>예전에는...</h2>
            <p>서버사이드에서 동적인 HTML을 렌더링하는게 일반적이었던 시절이 있었다.</p>
        </section>

        <section>
            <p class="fragment roll-in">우리의 친구 JSP</p>
            <pre class="fragment roll-in code"><code data-trim>&lt;select name="locale"&gt;
&lt;c:forEach var="localeString" items="${locales.localeNames}" &gt;
&lt;c:choose&gt;
    &lt;c:when test="${selectedFlag}"&gt;
        &lt;c:choose&gt;
            &lt;c:when
                 test="${f:equals(selectedLocaleString, localeString)}" &gt;
                &lt;option selected&gt;${localeString}&lt;/option&gt;
            &lt;/c:when&gt;
            &lt;c:otherwise&gt;
                &lt;option&gt;${localeString}&lt;/option&gt;
            &lt;/c:otherwise&gt;
        &lt;/c:choose&gt;
    &lt;/c:when&gt;
    &lt;c:otherwise&gt;
        &lt;option&gt;${localeString}&lt;/option&gt;
    &lt;/c:otherwise&gt;
&lt;/c:choose&gt;
&lt;/c:forEach&gt;
&lt;/select&gt;</code></pre>
        </section>

        <section>
           <h2>JavaScript로 HTML을 그릴 때</h2>
           <ol>
                <li class="fragment roll-in">디자이너가 디자인해준 HTML을 분석한다</li>
                <li class="fragment roll-in">그 HTML을 자바스크립트 문자열로 바꾼다</li>
                <li class="fragment roll-in">문자열 중간중간에 데이터를 결합해가며</li>
                <li class="fragment roll-in">document.appendChild 를 쓰거나 innerHTML을 써서 화면에 그린다</li>
                <li class="fragment roll-in">완성</li>
            </ol>
        </section>

        <section>
            <h3>이러한 구조일 것이다</h3>
            <div class="fragment">
                <pre class="code">// 서버에서 데이터를 가져왔다고 가정
var userList = User.findList() || [],
      elUserInfoGridBody = document.getElementById('userInfoGridBody'),
      user;

// 전에 있던 영역을 지워준다
elUserInfoGridBody.innerHTML = '';

for (var i = 0, len = userList.length; i < len; i++) {

    user = userList[i];

    // 열심히 그린다
    elUserInfoGridBody.innerHTML += '&lt;tr&gt; &lt;td&gt;' +user.id + '&lt;/td&gt; &lt;td&gt;' + user.name + '&lt;/td&gt; &lt;/tr&gt;';
}</pre>
            </div>
        </section>

        <section>
            <p>직접 브라우저가 된 기분으로 문자열 결합을 예측하여 완성될 HTML을 예측해야 한다</p>
            <p class="fragment roll-in">혹시</p>
            <p class="fragment roll-in">for 루프 때마다 innerHTML의 DOM Api 접근이 마음에 들지 않는다면...</p>
        </section>

        <section>
            <h3>DOM Api로 한번 해보자</h3>
            <pre class="code"><code data-trim>var fragment = document.createDocumentFragment(),
      user;

for (var i = 0, len = userList.length; i < len; i++) {
    user = userList[i];

    var idCell = document.createElement("td");
    idCell.innerHTML = user.id;

    var nameCell = document.createElement("td");
    nameCell.innerHTML = user.name;

    var row = document.createElement("tr");
    row.appendChild(idCell);
    row.appendChild(nameCell);

    fragment.appendChild(row);
}

elUserInfoGridBody.appendChild(fragment);
function scope() ...
</code></pre>
        </section>

        <section>
            <p>더 알아보기 어렵다</p>
            <p class="fragment roll-in">게다가 결국 HTML을 예측해야 하는건 매한가지.</p>
            <img class="fragment roll-in" src="img/otl.jpg" style="border: none">
        </section>

        <section>
            <h3>이따위 읽을 수 있다고 한다면</h3>
            <p class="fragment roll-in">보통 실무에서는 저런 장난같은 간단한 코드는 없다.<br/>보통 비즈니스가 뒤섞여 아래와 같은 코드가 나온다</p>
            <p class="fragment roll-in">
                <a href="https://github.com/javarouka/javarouka.github.com/blob/master/bs/template/bad-html-concat.js" target="_blank">Huk...</a>
            </p>
            <img class="fragment roll-in" src="img/otl.jpg" style="border: none">
        </section>

        <!--<section>-->
            <!--<h3>서로간 스코프 침범불가</h3>-->
            <!--<pre class="code"><code data-trim>var globalVar = "G";-->
<!--function A() {-->
    <!--var a = "A";-->
    <!--alert("A function: " + globalVar + " / " + a + " / " + b);-->
<!--}-->
<!--function B() {-->
    <!--var b = "B";-->
    <!--alert("B function: " + globalVar + " / " + a + " / " + b);-->
<!--}-->
<!--try {-->
    <!--A(); B();-->
<!--}-->
<!--catch(e) {-->
    <!--alert("Opps! " + e);-->
<!--}-->
<!--</code></pre>-->
            <!--<a data-executor>RUN</a>-->
        <!--</section>-->

        <section>
            <h2>Handlebars</h2>
            <p class="fragment roll-in">Server/Client Template</p>
        </section>

        <section>
            <h2>소개 몇개</h2>
            <ol>
                <li class="fragment roll-in">Mustache 계열 템플릿</li>
                <li class="fragment roll-in">사용할 수 있는 제어가 매우 한정적</li>
                <li class="fragment roll-in">Template 레이아웃 기능 지원</li>
                <li class="fragment roll-in">Helper 라는 기능으로 여러가지 커스터마이징 가능</li>
                <li class="fragment roll-in">유행</li>
            </ol>
        </section>

        <section>
            <h3>바로 시작해보자</h3>
            <pre>[
    {
    }
]
            </pre>
        </section>

        <section>
            <h1>재미로 보는 템플릿들</h1>
            <p><a href="http://garann.github.io/template-chooser/" target="_blank">So you need a template engine..</a></p>
        </section>

        <section>
            <h1>감사합니다</h1>
            <img src="img/joker.gif">
            <p><small>Happy Coding!</small></p>
        </section>

    </div>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>

<script>

    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: 'night',//Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: 'cube', //Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        dependencies: [
            { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
            { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
            { src: 'plugin/spotlight/spotlight.js', async: true, condition: function() { return !!document.body.classList; } }
            //{ src: 'plugin/repoll/repoll.js', async: true, condition: function() { return !!document.body.classList; } },
        ]
    });

    var codeExecutor = document.querySelectorAll("a[data-executor]");
    Array.prototype.forEach.call(codeExecutor, function(v) {
        v.onclick = function(e) {
            var parent = e.target.parentNode;
            eval.call(window, parent.querySelector("pre.code code").innerText);
        }
    });

</script>

</body>
</html>
