@CHARSET "UTF-8";
body {
	font: 0.95em/1.333 Gulim, Arial, sans-serif;
	color: #202020;
	overflow-y: scroll;
}

body h1 {
	font-size: 200%;
	margin: 2px 0px 0px 2px;
}

body a {
	text-decoration: none;
}

body a:hover {
	text-decoration: underline;
}

body a:hover: {
	text-decoration: underline;
}

body a:link {
	color: #66A;
}

body a:visited {
	color: #848;
}

body a:link {
	color: #339;
}

header {
	font-weight: bold;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: solid 2px #bbb5f8;
}

nav {
	padding: 10px 6px;
}
	nav ul li {
		margin-left: 20px;
		list-style-type: disc;
	}
	nav ul li {
		margin-left: 20px;
		list-style-type: disc;
	}

article {
	margin: 0 auto;
	padding: 3px;
	box-shadow: 0px 0px 4px 1px #ccc;
}
	article h1 {
		font-size: 125%;
		font-weight: bold;
		padding: 4px 20px;
	}
	article h2 {
		font-size: 115%;
		font-weight: bold;
		border-bottom: solid 1px #3B5998;
		padding: 4px 6px;
	}
	article h3 {
		font-size: 110%;
		padding: 2px;
		padding-left: 20px;
		background: #777;
		color: #FFF;
	}

	article ul li {
		margin: 10px 10px;
		background: #EDEFF4;
		border: 1px solid #D2D9DD;
		border-radius: 5px;
	}
		article ul li p {
			margin-top: 4px;
			background: #FFF;
			padding: 10px;
		}
		
	article form label {
		display: block;
	}
	article form input[type=text] {
		width: 150px;
	}
	article form textarea {
		width: 80%;
		min-width: 500px;
		height: 400px;
	}
	
	article form textarea,
	article form input[type=text] {
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;	
	}
	article form textarea:FOCUS,
	article form input[type=text]:FOCUS {
		margin-left: 10px;
		border: solid 3px #081c4f;
	}

	article .hide {
		display: none;
	}

footer {
	width: 100%;
	font-size: 12px;
}
	footer h1 {
		font-size: 130%;
		font-weight: bold;
		border-bottom: solid 1px #bbb;
	}
	footer p {
		font-size: 15px;
		text-align: right;
	}
	footer ul li {
		display: inline-block;
		zoom:1; 
		*display:inline;
		margin-right: 5px;
	}

#wrapper {
	margin: 0 auto;
	max-width: 900px;
	min-width: 320px;
	padding: 5px;
	font-size: 14px;
}