<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>PlayJS By javarouka (@YiHanghee)</title>
    <meta name="description" content="Javascript Scope">
    <meta name="author" content="javarouka">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>

<div class="reveal">

    <div class="slides js-scope">

        <section>
            <h1>JS 이모저모</h1>
            <p>&nbsp;</p>
            <p>
                <small>Created by
                    <a href="http://www.facebook.com/hanghui.i" target="new">이항희</a> /
                    <a href="http://atconsole.com" target="new">blog.javarouka.me</a>
                </small>
            </p>
        </section>

        <section>
            <h2>Object</h2>
            <p class="fragment">얼마나 알고 있나요?</p>
        </section>

        <section>
            <p>JavaScript 의 Object 는 Key-Value Pair.</p>
            <p>즉, Dictionary 나 Map 으로 불리는 것과 비슷하다.</p>
            <p class="fragment">게다가 JS 객체는 Object 와 모두 연결되어 있다</p>
        </section>

        <section>
               <pre><code class="jsx" data-trim data-noescape>
const good = {};
good.job = '잘했어';
good.day = () => new Date();
               </code></pre>
        </section>

        <section>
                <pre><code class="jsx" data-trim data-noescape>
const one = { /* some implements */ };

alert(one) // "하나!"
alert(99 + one) // 100
JSON.stringify(one) // "변환되었습니다"
                </code></pre>
        </section>

        <section>
            <h2>.</h2>
        </section>

    </div>

</div>
</body>
</html>
