.report-list {
    position: relative;
    font-size: 12px;
}
.report-list > div {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 8px;
    background-color: #e5ffff;
    margin: 5px 5px;
    padding: 12px 5px;
    text-align: center;
    border: solid 1px #b7c0d0;
    box-shadow: 1px 1px 1px 2px #eee;
}
.report-list > div:hover {
    background-color: #fffdfe;
    box-shadow: 2px 3px 3px #666;
}
.report-list h3 {
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.report-playground {
    display: none;
}
.expanded {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
    /*top: 0;*/
    z-index: 9;
}
.etc-area {
    display: none;
}
.expanded .etc-area {
    background-color: white;
    border-radius: 6px;
    border: solid 1px #aaa;
    display: block;
    text-align: left;
    padding: 10px 20px;
    margin: 5px 20px;
}
.force-hidden {
    display: none;
}