<section class="row report-list">
    {{#this}}
    <div class="col-sm-1">
        <h3>{{name}}</h3>
        <div><span>점수</span> : <span>{{score}}</span></div>
        <div><span><a href="r/{{id}}/" target="_blank" data-event-click="viewReport(e)">결과물 보기</a></span></div>
    </div>
    {{/this}}
</section>
<article class="report-playground row"></article>