@CHARSET "UTF-8";
#wrapper {
	max-width: 900px;
	min-width: 450px;
	margin: 0px auto;
}
header, section, footer {
	font-size: 13px;
	margin: 10px 0px;
}
header {
	border-bottom: dashed 1px #aaa;
	padding-bottom: 5px;
}
header h1 {
	font-size: 150%;
}
section#article-list ul {
	width: 60%;
	border: solid 1px #ccc;
	margin-bottom: 15px;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 3px 3px 4px #ccc;
}
	section#article-list ul li {
		margin-left: 20px;
		padding: 2px;
	}
#loading-indicator {
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10%;
}
.hide {
	display: none;
}