dl {
    width: 50%;
    min-width: 500px;
}

dt {
    font-weight: bold;
    margin-top: 10px;
    border-bottom: solid 1px #aaa;
}

pre {
    width: 50%;
    min-width: 500px;
    padding: 10px;
    border-radius: 6px;
    border: solid 1px #aaa;
    background-color: #ececec;
}

.top-wrapper {
    position: relative;
    margin: 1% auto;
    width: 70%;
}
#deal-list {
    padding: 1%;
    background-color: #efefef;
    border: solid 1px #ccc;
    margin-bottom: 2%;
}

.highlight {
    background-color: #0b58a2;
    color: #FFF;
}

#selector {
    width: 70%;
}

#log {
    color: red;
    font-weight: bold;
}

.hidden-element {
    display: none;
}