React.createClass({
    links: function() {
        return this.props.linkList.map(function(link) {
            return (
                <li><a href={link.href} target={link.target || '_self'}>{link.title}</a></li>
            );
        });
    },
    render: function() {
        return (
            <ul className="nav">
               {this.links()}
            </ul>
        );
    }
});