@CHARSET "UTF-8";
body {
	font: 0.95em/1.333 Gulim, Arial, sans-serif;
	color: #202020;
	overflow-y: scroll;
}


a:hover {
	text-decoration: underline;
}

a:hover: {
	text-decoration: underline;
}

a:link {
	color: #66A;
}

a:visited {
	color: #848;
}

a:link {
	color: #339;
}