<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Play JavaScript Template</title>
    <meta name="description" content="JavaScript Template">
    <meta name="author" content="javarouka">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">
    <link rel="stylesheet" href="lib/css/github.css">
    <link rel="stylesheet" href="plugin/spotlight/spotlight.css">
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
        WebFont.load({
            custom: {
                families: ['Nanum Gothic'],
                urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css']
            }
        });
    </script>

    <style>
        .reveal pre {
            font-family: 'Nanum Gothic', serif !important;
        }
        .reveal code {
            font-family: 'Nanum Gothic', serif !important;
        }
    </style>
</head>
<body>
<div class="reveal">
    <div class="slides">

        <section>
            <h1>Play JavaScript Template</h1>
            <h3>+ Handlebars Basic</h3>
            <p>
                <small>Created by
                    <a href="http://www.facebook.com/hanghui.i" target="new">이항희</a> /
                    <a href="http://blog.javarouka.me" target="new">javarouka.me</a>
                </small>
            </p>
        </section>

        <!--<section>-->
            <!--<h2>데이터에 따라 변하는 페이지</h2>-->
            <!--<p>서버사이드에서 동적인 HTML을 렌더링하는게 일반적이었던 시절이 있었다.</p>-->
        <!--</section>-->

        <!--<section>-->
            <!--<p class="fragment roll-in">우리의 친구 JSP</p>-->
            <!--<pre class="fragment roll-in code"><code data-trim>&lt;select name="locale"&gt;-->
<!--&lt;c:forEach var="localeString" items="${locales.localeNames}" &gt;-->
<!--&lt;c:choose&gt;-->
    <!--&lt;c:when test="${selectedFlag}"&gt;-->
        <!--&lt;c:choose&gt;-->
            <!--&lt;c:when-->
                 <!--test="${f:equals(selectedLocaleString, localeString)}" &gt;-->
                <!--&lt;option selected&gt;${localeString}&lt;/option&gt;-->
            <!--&lt;/c:when&gt;-->
            <!--&lt;c:otherwise&gt;-->
                <!--&lt;option&gt;${localeString}&lt;/option&gt;-->
            <!--&lt;/c:otherwise&gt;-->
        <!--&lt;/c:choose&gt;-->
    <!--&lt;/c:when&gt;-->
    <!--&lt;c:otherwise&gt;-->
        <!--&lt;option&gt;${localeString}&lt;/option&gt;-->
    <!--&lt;/c:otherwise&gt;-->
<!--&lt;/c:choose&gt;-->
<!--&lt;/c:forEach&gt;-->
<!--&lt;/select&gt;</code></pre>-->
        <!--</section>-->

        <!--<section>-->
            <!--<p>데이터를 표현할 방법을 JSP의 문법에 맞춰 틀을 정의해두면,</p>-->
            <!--<p class="fragment roll-in">묶어주는 데이터에 따라 문자열을 생성.</p>-->
            <!--<p class="fragment roll-in">JSP말고도 PHP등 여러 템플릿 엔진들은 서버에서 처리됐지만</p>-->
            <!--<p class="fragment roll-in">최근엔 서버는 데이터만, 그리는건 클라이언트가 하는 일이 많아졌다</p>-->
        <!--</section>-->

        <section>
           <h2>JavaScript로 HTML을 그릴 때</h2>
           <ol>
                <li class="fragment roll-in">디자이너가 디자인해준 HTML을 분석한다</li>
                <li class="fragment roll-in">그 HTML을 자바스크립트 문자열로 바꾼다</li>
                <li class="fragment roll-in">문자열 중간중간에 데이터를 결합해가며</li>
                <li class="fragment roll-in">document.appendChild 를 쓰거나 innerHTML을 써서 화면에 그린다</li>
                <li class="fragment roll-in">완성</li>
            </ol>
        </section>

        <section>
            <h3>이러한 구조일 것이다</h3>
            <pre>var elUserInfoGridBody = document.getElementById('userInfoGridBody'), user;

// 전에 있던 영역을 지워준다
elUserInfoGridBody.innerHTML = '';

for (var i = 0, len = userList.length; i &lt; len; i++) {

    user = userList[i];

    // 열심히 그린다
    elUserInfoGridBody.innerHTML += '&lt;tr&gt; &lt;td&gt;' + user.id + '&lt;/td&gt; &lt;td&gt;' + user.name + '&lt;/td&gt; &lt;/tr&gt;';
}
</pre>
        </section>

        <section>
            <p>직접 브라우저가 된 기분으로 문자열 결합을 예측하여 완성될 HTML을 예측해야 한다</p>
            <p class="fragment roll-in">DOM Api 로 처리하면?</p>
        </section>

        <section>
            <h3>DOM Api로 한번 해보자</h3>
            <pre class="code"><code data-trim>var fragment = document.createDocumentFragment(),
      user;

for (var i = 0, len = userList.length; i < len; i++) {
    user = userList[i];

    var idCell = document.createElement("td");
    idCell.innerHTML = user.id;

    var nameCell = document.createElement("td");
    nameCell.innerHTML = user.name;

    var row = document.createElement("tr");
    row.appendChild(idCell);
    row.appendChild(nameCell);

    fragment.appendChild(row);
}

elUserInfoGridBody.appendChild(fragment);
function scope() ...
</code></pre>
        </section>

        <section>
            <p>더 알아보기 어렵다</p>
            <p class="fragment roll-in">게다가 결국 HTML을 예측해야 하는건 매한가지.</p>
            <img class="fragment roll-in" src="img/otl.jpg" style="border: none">
        </section>

        <section>
            <h3>이따위 읽을 수 있다고 한다면</h3>
            <!--<p class="fragment roll-in">보통 실무에서는 저런 장난같은 간단한 코드는 없다.<br/>보통 비즈니스가 뒤섞여 아래와 같은 코드가 나온다</p>-->
            <p class="fragment roll-in">
                <a href="https://github.com/javarouka/javarouka.github.com/blob/master/bs/template/bad-html-concat.js" target="_blank">Huk...</a>
            </p>
            <img class="fragment roll-in" src="img/otl.jpg" style="border: none">
        </section>

        <section>
            <p>데이터가 묶이기 전에도 미리 형태를 알 수 있고</p>
            <p class="fragment roll-in">데이터에 따라 표현을 좀 더 깔끔하게 하고 싶고</p>
            <p class="fragment roll-in">마크업 작업자와의 협업도 같이 할수 있고</p>
        </section>

        <section>
            <h2>Handlebars</h2>
            <p class="fragment roll-in">Server/Client Template</p>
        </section>

        <section>
            <h2>소개 몇개</h2>
            <ol>
                <li class="fragment roll-in">Mustache 계열 템플릿</li>
                <li class="fragment roll-in">사용할 수 있는 제어가 매우 한정적</li>
                <li class="fragment roll-in">Template 레이아웃 기능 지원</li>
                <li class="fragment roll-in">Helper 라는 기능으로 여러가지 커스터마이징 가능</li>
                <li class="fragment roll-in">유행</li>
            </ol>
        </section>

        <section>
            <h3>흐름</h3>
            <p class="fragment roll-in">템플릿으로 사용할 문자열을 Handlebars.complie 함수로 컴파일</p>
            <p class="fragment roll-in">컴파일 결과에 묶을 데이터를 인자로 실행</p>
            <p class="fragment roll-in">실행 결과로 나온 문자열을 그릴 곳에 넣기</p>
        </section>

        <section>
            <h3>기초예제</h3>
            <pre class="code"><code data-trim>// 데이터입니다.
var lyric = "정상에 올라 너의 이름 토한 날\n나를 누르던 앙금같은 기억도";

// 우선 핸들바로 템플릿 문자열을 컴파일합니다.
// {{식별자}} 형식으로 데이터를 표현할 수 있습니다.
// this 식별자는 묶일 데이터 바로 자기 자신을 가르킵니다.
var compiled = Handlebars.compile("&lt;pre&gt;{{this}}&lt;/pre&gt;");

// 컴파일 결과로 함수가 나옵니다. 여기에 데이터를 인자로 실행시킵니다.
var html = compiled(lyric);

// 결과를 적당한 영역에 넣어줍니다.
document.getElementById("test-render-area").innerHTML = html;</code></pre>
            <div id="test-render-area" style="margin-top: 5px; padding-left: 5%;"></div>
            <a data-executor>RUN</a>
        </section>

        <section>
            <h4>템플릿 문자열을...</h4>
            <pre class="code"><code>&lt;script id="my-template" type="text/x-handlebars-template"&gt;
    &lt;pre&gt;{{this}}&lt;/pre&gt;
&lt;/script&gt;</code></pre>
            <p class="fragment roll-in">이렇게 스크립트 태그에 넣어두면 HTML을 그대로 보존하면서 알아보기 쉽게 볼 수 있다</p>
            <pre class="code fragment roll-in"><code data-trim>// 스크립트 태그에 붙인 아이디로 노드를 가져와서 innerHTML으로 템플릿 문자열을 얻으면~
var lyricTemplateText = document.getElementById("my-template").innerHTML;

// 그리고 컴파일
var compiled = Handlebars.compile(lyricTemplateText);</code></pre>
        </section>

        <section>
            <h3>바로 간단한 테이블 그리기</h3>
            <p>먼저 사용할 데이터</p>
            <pre class="code"><code data-trim>var userData = [
    {
        "seq": 1,
        "id": "javarouka",
        "name": "이항희"
    },
    {
        "seq": 2,
        "id": "yellow",
        "name": "홍진호"
    },
    {
        "seq": 3,
        "id": "faker",
        "name": "이상혁"
    }
];</code></pre>
        </section>

        <section>
            <p>템플릿 작성</p>
            <!--<p class="fragment roll-in">스크립트 태그안에 작성하는 이유는 렌더링 요소가 아니고, 노드 안의 텍스트 보존이 용이</p>-->
            <!--<p class="fragment roll-in">반드시 타입을 text/template 등으로 지정해서</p>-->
            <!--<p class="fragment roll-in">스크립트가 아님을 브라우저에게 알려줘 실행을 막는다.</p>-->
            <pre class="code fragment roll-in"><code data-trim>&lt;script id="user-list-template" type="text/x-handlebars-template"&gt;
    {{#this}}
        &lt;tr data-seq="{{seq}}"&gt;
            &lt;td&gt;{{id}}&lt;/td&gt;
            &lt;td&gt;{{name}}&lt;/td&gt;
        &lt;/tr&gt;
    {{/this}}
&lt;/script&gt;</code></pre>
        </section>

        <section>
            <p>다음은... 템플릿 컴파일</p>
            <pre class="code"><code data-trim>// 위에서 정의한 스크립트 태그 노드를 가져온다
var templateTag = document.getElementById("user-list-template");

// 그 안의 텍스트를 꺼내서 Handlebars.compile 함수로 컴파일해서 변수에 할당해둔다.
var compiled = Handlebars.compile(templateTag.innerHTML);</code></pre>
        </section>

        <section>
            <p>이제 데이터랑 묶어서, HTML을 생성한다</p>
            <pre class="code"><code data-trim>// 데이터를 인자로 컴파일된 템플릿 함수를 실행하면 HTML이 나온다
var html = compiled(userData);

// 나온 HTML을 원하는 영역에 그린다!
document.getElementById("user-info-grid-body").innerHTML = html;</code></pre>
        </section>

        <section>
            <h3>완성</h3>
            <p><a href="https://github.com/javarouka/javarouka.github.com/blob/master/bs/template/simple.html" target="_blank">Source</a></p>
            <p><a href="http://javarouka.github.io/bs/template/simple.html" target="_blank">Demo</a></p>
        </section>

        <section>
            <h3>간단한 날씨 뷰어 예제</h3>
            <p>
                화면을 그리는데 필요한 데이터는 openWeather JSONP 를 사용한다
                <a href="http://api.openweathermap.org/data/2.5/find?q=Seoul">서울날씨 데이터</a>
            </p>
        </section>

        <section>
            <h3>JSONP 요청을 보낼 함수</h3>
            <pre class="code"><code data-trim>var now_process = false;
var listenWeatherData = function(location) {

    if(now_process) {
        return;
    }

    now_process = true;

    var scriptTag = document.getElementById("jsonp-script");
    if(scriptTag) {
        document.body.removeChild(oldScriptTag);
    }

    scriptTag = document.createElement("script");
    scriptTag.id = "jsonp-script";
    scriptTag.type = "text/javascript";
    scriptTag.src = weatherResourceURL + location;

    document.body.appendChild(scriptTag);
}
</code></pre>
        </section>

        <section>
            <h3>템플릿</h3>
            <pre class="code"><code data-trim>&lt;script id="weather-template" type="text/x-handlebars-template"&gt;
    {{#list}}
        &lt;h2&gt;
            {{name}}
            &lt;small&gt;- {{sys.country}}&lt;/small&gt;
        &lt;/h2&gt;
        {{#weather}}
            &lt;img src="http://openweathermap.org/img/w/{{icon}}.png" style="float: left; margin: 5px;"&gt;
            &lt;h3&gt;{{main}}&lt;/h3&gt;
            &lt;p&gt;
                {{description}}
            &lt;/p&gt;
            &lt;div style="clear: both; height: 0;"&gt;&lt;/div&gt;
        {{/weather}}
    {{/list}}
    &lt;/script&gt;</code></pre>
        </section>

        <section>
            <h3>동작 함수들</h3>
            <pre class="code"><code data-trim>var renderWeather = function(weatherData) {
        content.innerHTML = weatherTemplate(weatherData);
        now_process = false;
    },

    changeLocation = function(eventObj) {
        document.title = "Weather - " + locationPicker.value;
        listenWeatherData(locationPicker.value);
    };</code></pre>
        </section>

        <section>
            <h3>완성</h3>
            <p><a href="https://github.com/javarouka/javarouka.github.com/blob/master/bs/template/weather.html" target="_blank">Source</a></p>
            <p><a href="http://javarouka.github.io/bs/template/weather.html" target="_blank">Demo</a></p>
        </section>

        <section>
            <h2>재미로 보는 템플릿들</h2>
            <p><a href="http://garann.github.io/template-chooser/" target="_blank">So you need a template engine..</a></p>
        </section>

        <section>
            <h1>감사합니다</h1>
            <img src="img/joker.gif">
            <p><small>Happy Coding!</small></p>
        </section>

    </div>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>

<script>

    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: 'night',//Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: 'cube', //Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        dependencies: [
            { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
            { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
            { src: 'plugin/spotlight/spotlight.js', async: true, condition: function() { return !!document.body.classList; } }
            //{ src: 'plugin/repoll/repoll.js', async: true, condition: function() { return !!document.body.classList; } },
        ]
    });

    var codeExecutor = document.querySelectorAll("a[data-executor]");
    Array.prototype.forEach.call(codeExecutor, function(v) {
        v.onclick = function(e) {
            var parent = e.target.parentNode;
            eval.call(window, parent.querySelector("pre.code code").innerText);
        }
    });

</script>

</body>
</html>
