<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>핸들바 테스트</title>
    <style>
        thead tr {
            background-color: #333;
            color: #FFF;
            height: 30px;
        }
        th, td {
            width: 200px;
            border: solid 1px #eee;
            border-collapse: collapse;
        }
    </style>
</head>
<body>

    <table>
        <thead>
        <tr>
            <th>아이디</th>
            <th>이름</th>
        </tr>
        </thead>
        <tbody id="user-info-grid-body"></tbody>
    </table>

    <!-- Handlebars.js include -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>

</body>
</html>