@CHARSET "UTF-8";
body {
	font: 0.95em/1.333 Arial, sans-serif;
	color: #202020;
}

body h1 {
	font-size: 200%;
	margin: 2px 0px 0px 2px;
}

body a {
	text-decoration: none;
}

body a:hover {
	text-decoration: underline;
}

body a:hover: {
	text-decoration: underline;
}

body a:link {
	color: #66A;
}

body a:visited {
	color: #848;
}

body a:link {
	color: #339;
}

body header {
	font-weight: bold;
	padding: 10px 6px;
}

body nav {
	padding: 10px 6px;
}

body nav ul li {
	margin-left: 20px;
	list-style-type: disc;
}

body footer {
	font-size: 12px;
	padding: 10px 6px;
}

body footer h1 {
	font-size: 130%;
	font-weight: bold;
	border-bottom: solid 1px #bbb;
}

body footer p {
	font-size: 15px;
	text-align: right;
}

body footer ul li {
	display: inline-block;
	zoom:1; 
	*display:inline;
	margin-right: 5px;
}

body #content {
	margin: 0 auto;
	max-width: 900px;
	min-width: 320px;
	padding: 5px;
	font-size: 14px;
}

body #content ul li {
}

.template {
	display: none;
}