@CHARSET "UTF-8";
body {
	font: 0.95em/1.333 Arial, sans-serif;
	color: #202020;
}

h1 {
	font-size: 200%;
	margin: 2px 0px 0px 2px;
}

a {
	text-decoration: none;
}

a:visited {
	color: #858;
}

a:link {
	color: #66A;
}

a:visited {
	color: #848;
}

a:link {
	color: #339;
}

header {
	font-weight: bold;
	padding: 10px 6px;
}

nav {
	padding: 10px 6px;
}

nav ul li {
	padding-left: 10px;
	list-style-type: disc;
}

footer {
	border: solid 1px #aaa;
	border-radius: 8px;
	font-size: 12px;
	padding: 10px 6px;
}

footer h1 {
	font-size: 130%;
}

footer p {
	font-size: 15px;
	text-align: right;
}

footer ul li {
	display: inline-block;
	margin-right: 5px;
}

#content {
	margin: 0 auto;
	max-width: 800px;
	min-width: 320px;
	padding: 5px;
	font-size: 14px;
}

#content ul li {
	font-size
}